In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# loading data

In [ ]:
Load File.

dataframe = pd.read_csv('filename.csv') # Loading data from a CSV file
dataframe = pd.read_excel('filename.xlsx') # Loading data from an Excel file
dataframe = pd.read_json('filename.json') # Loading data from a Json file

In [4]:
dataframe = sns.load_dataset('iris')
df = dataframe

# view data

In [ ]:
dataframe.head() # Displays the first 5 rows
dataframe.head(10) # Displays the first 10 rows
dataframe.tail() # Displays the last 5 rows
dataframe.tail(10) # Displays the last 10 rows
dataframe.nlargest(2, 'sepal_length') # Top n rows with the largest values
dataframe.nsmallest(2, 'sepal_length') # Top n rows with the smallest values
dataframe.info() # Displays the summary of the dataframe
dataframe.describe() # Generates descriptive statistics
dataframe.describe(include='all') # Generates descriptive statistics all the columns
dataframe.dtypes # get the datatypes of the dataset
dataframe.columns # GET THE NAMES OF THE COLUMNS IN DATASET
dataframe.columnname.unique() # get all the unique values in the column
dataframe.isnull().sum() # get the sum of null values in the dataset
dataframe.column_name.value_counts() # get the sum of values present in dataset
dataframe.columnname.astype(str) # convert the type of column to str
np.where(dataframe.columnname.isnull()) # get the index of all null values in the column
dataframe.columnname.fillna(5) # fill all the nan values in the column with this value
sorted(df['Age'])[:10]
df.Age.describe()

# data selection

In [ ]:
dataframe['sepal_length'] # Selecting a single column
dataframe[['sepal_length', 'petal_length']] # Selecting multiple columns
dataframe[dataframe['petal_length']==max(dataframe['petal_length'])] # get the max values in the column
dataframe.loc[0:, 'petal_length'] # Selecting a single cell using label indexing
dataframe[dataframe['petal_length'] == 1.4].index # getting the index values
dataframe.loc[dataframe['petal_length'] == 1.4] # Selecting a subset of Dataframe using label indexing
dataframe.loc[dataframe['petal_length'] == 1.4, ['selected_column_name']] # Selecting a single column where condition matched
dataframe.iloc[1, 4] # Selecting a single cell using integer indexing
dataframe.iloc[1:10, 2:4] # Selecting multiple cells using integer indexing
dataframe[dataframe.dtypes[dataframe.dtypes== 'float64'].index] # Select the columns which are true and give the table
dataframe.dtypes[dataframe.dtypes== 'float64'].index # give the list of column names which are true
dataframe.loc[:, dataframe.dtypes == 'float64'] # Select the columns which are true and give the table
dataframe.iloc[np.where(dataframe['petal_length'].isnull())] # get the dataframe where the null values are present
dataframe.loc[dataframe.petal_length[dataframe.petal_length.isnull()].index] # get the dataframe where the null values are present
dataframe[dataframe['column_name'] > value] # Filtering data based on a condition
dataframe.loc[dataframe['fare'] > 250] # filtering the data using loc
dataframe[dataframe['fare'].isin([263.0,71.2833])] # Filtering data based on a list of values
dataframe[(dataframe['fare'] > 250.0) | (dataframe['parch'] < 4)] # Filtering data based on multiple conditions
dataframe[(dataframe['fare'] > 250.0) & (dataframe['parch'] < 4)] # Filtering data based on multiple conditions
dataframe.groupby('sex').count() # groups the data based on sex and count the variables in sex
dataframe.groupby('sex')['survived'].count() # group by sex and give count values for the survived column
dataframe.groupby('sex')[['survived','age']].agg(['mean', 'sum', 'count']) # Grouping the DataFrame by the 'category' column and finding the mean, sum, and count of the 'value' column for each group
pd.Categorical(dataframe.sex)  # converting the data type to categorical type
pd.Categorical(dataframe.sex,categories=['male','female'],ordered=True)  # converting the data type to categorical type
dataframe.age.apply(lambda x: x**2 ) # Grouping the DataFrame by the 'category' column and applying the custom function to each group

# Data Manipulation

In [ ]:
dataframe['new'] = dataframe['age'] * dataframe['fare'] # Creating a new column by adding existing columns
dataframe.drop(['new'], axis=1, inplace=True) # Dropping columns
dataframe.drop_duplicates(subset=['new'], inplace=True) # Dropping duplicates
dataframe.drop_duplicates(inplace=True) # Dropping duplicates
dataframe.rename(columns={'new': 'new_name'}, inplace=True) # Renaming columns
dataframe.replace(to_replace=1, value=1.0, inplace=True) # Replacing values
dataframe.sort_values('new', ascending=True).head() # Sorting data by a single column
dataframe.sort_values(['pclass', 'age'], ascending=[True, False]).head() # Sorting data by multiple columns
dataframe.sort_index(ascending=False) # Sorting data by index
dataframe.survived.value_counts() # counts the value in a specific column
dataframe.sex.str.lower() # Converts all characters to lowercase.
dataframe['class'].str.replace('Third', 'third') # Replacing text
dataframe['class'].str.split('') # Splitting text into multiple columns
dataframe['class'].str.len() # Length of the string
dataframe['class'].str.cat(dataframe['who'], sep=' - ') # Concat two columns with seperator